.hero-section-custom {
    height: 700px;
    background-image: url('../../assets/images/landing-page-house.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    background-position: 0 50%;
}

.hero-title {
    font-size: 70px;
    line-height: 70px;
}

.landing-titles-span {
    color: rgb(80 175 77);
}
